name: Release

on:
  push:
    branches:
      - {{main_branch}}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@master
        with:
          node-version: {{node_version}}

      - name: Install Dependencies
        run: {% if package_manager == 'yarn' %}yarn install --immutable{% else %}npm install --ci{% endif %}

      - name: Create Release Pull Request
        uses: changesets/action@v1
        {%- if release_with_changesets %}
        with:
          publish: yarn release
        {%- endif %}
        env:
          GITHUB_TOKEN: {{ '${{ secrets.GITHUB_TOKEN }}' }}
          {% if release_with_changesets %}{{ 'NPM_TOKEN: ${{ secrets.NPM_TOKEN }}' }}{% endif %}
